# Base de données
POSTGRES_DB=estation
POSTGRES_USER=estation
POSTGRES_PASSWORD=change_me_in_prod
DATABASE_URL=postgresql://estation:change_me_in_prod@db:5432/estation

# Django
DJANGO_SECRET_KEY=change_me_in_prod_use_django_get_random_secret_key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Redis
REDIS_URL=redis://redis:6379/0

# Email — rapport automatique clôture journal
# En dev laisser EMAIL_BACKEND vide (console). En prod mettre smtp.
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=votre.compte@gmail.com
EMAIL_HOST_PASSWORD=mot_de_passe_application_gmail
EMAIL_FROM=E-Station <noreply@estation.bf>
# Destinataires séparés par des virgules
BOSS_EMAIL=boss@example.com,direction@example.com
